<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Welcome <%=name%>!</h1>
      <a href="/log-out">Log Out</a>
      <a href="/membership">Membership</a>
      <% if (isMember === "yes") { %>
      <a href="/post">Post</a>
      <% } %>
    </header>
    <main>
      <div class="message-content">
        <h2>Messages</h2>
        <div class="messages-container">
          <% messages.forEach(msg => { %>
          <div class="message">
            <p><%=msg.message%></p>
            <% if (isMember==="yes") { %>
            <p>-<i><%=msg.author%></i>,<%=msg.date %></p>

            <% } %> <% if (isMember==="no") {%>
            <p><i>-Anonymous</i></p>
            <%}%>
          </div>
          <%})%>
        </div>
      </div>
    </main>
  </body>
</html>
