<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <form action="/" method="post">
        <label for="first">First Name:</label>
        <input type="text" name="first" id="first">
        <label for="last">Last Name:</label>
        <input type="text" name="last" id="last">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="confirm">Confirm Password:</label>
        <input type="password" name="confirm" id="confirm">
    </form>
    
</body>
</html>