<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <title>Membership</title>
  </head>
  <body
    class="d-flex flex-column vh-100 align-items-center justify-content-between"
  >
    <nav class="navbar vw-100 justify-content-evenly">
      <h2 class="nav-item navbar-brand navbar-expand p-2">MemberBoard</h2>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">Back</a>
        </li>
      </ul>
    </nav>
    <div
      class="form-group d-flex flex-column justify-content-center align-items-center w-50"
    >
      <form
        action="/secret"
        method="post"
        class="form-group d-flex flex-column justify-content-center p-2"
      >
        <label for="passcode" class="form-label">
          What is the secret:
          <input
            type="password"
            name="secret"
            id="passcode"
            class="form-control"
          />
        </label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <% if(isMember === "no"){ %>
      <p>You are not a member yet</p>
      <% } else{ %>
      <p>You are a member</p>
      <% } %>
    </div>
    <footer>Created by Brandon Parkerson</footer>
  </body>
</html>
