<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership</title>
  </head>
  <body>
    <h1>Membership</h1>
    <a href="/dashboard">Dashboard</a>
    <form action="/secret" method="post">
      <label for="passcode">
        What is the secret:
        <input type="password" name="secret" id="passcode" />
      </label>
      <button type="submit">Submit</button>
    </form>
    <% if(isMember === "no"){ %>
    <p>You are not a member yet</p>
    <% } else{ %>
    <p>You are a member</p>
    <% } %>
  </body>
</html>
