<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Message</title>
</head>
<body>
    <h1>Post a Message</h1>
    <form action="/post" method="post">
        <label for="message">
            Message:
            <textarea type="text" name="message" id="message" rows="10"></textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>